<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionOracle" value="Data Source=192.168.1.30/xe; User ID=Testeescalabilidade;Password=123456"/>
    <add key="connection" value="Data Source=.\SQLEXPRESS;Initial Catalog=EHR;Integrated Security=True"/>
  </appSettings>
</configuration>